
<section class="productReviews">
    <div class="productReviews-header">
        <h3 class="productReviews-header--title">Reviews</h3>
        <span class="productReviews-header--rating productReview-rating">
            <span>{{ product.rating }}</span>
            {{> components/products/ratings rating=product.rating}}
        </span>

        <a class="productReviews-header--cta button button--primary" href="{{product.url}}{{#if is_ajax}}#write_review{{/if}}"
            {{#unless is_ajax }}data-reveal-id="modal-review-form"{{/unless}}>
            {{lang 'products.reviews.new'}}
        </a>
    </div>
    <div class="productReviews-content">
        <ul class="productReviews-list">
            {{#each reviews.list}}
            <li class="productReview">
                <article>
                    <header>
                        <span class="productReview-rating rating--small">
                            {{> components/products/ratings rating=rating}}
                            <span class="productReview-ratingNumber">{{ rating }}</span>
                        </span>
                        <h5 class="productReview-title">{{{ sanitize title }}}</h5>
                        {{#if name}}
                            
                            <p class="productReview-author">
                                {{{lang 'products.reviews.post_on_by' date=date name=(sanitize name) }}}
                            </p>
                        {{else}}
                            <p class="productReview-author">
                                {{lang 'products.reviews.post_on_by' date=date name=(lang 'products.reviews.anonymous_poster')}}
                            </p>
                        {{/if}}
                    </header>
                    <p class="productReview-body">
                        {{{ truncate (sanitize text) 100 }}}{{#gt text.length 100}}...{{/gt}}
                        {{#gt text.length 100}}
                        <button type="button" class="productReview-readMore" data-review-read-more>read more</button>
                        {{/gt}}
                    </p>
                    {{#gt text.length 100}}
                    <div class="productReview-fullContent" aria-hidden="true" data-review-full-content>
                        <header>
                            <span class="productReview-rating rating--small">
                                {{> components/products/ratings rating=rating}}
                                <span class="productReview-ratingNumber">{{ rating }}</span>
                            </span>
                            <h5 class="productReview-title">{{{ sanitize title }}}</h5>
                            {{#if name}}
                                <p class="productReview-author">
                                    {{{lang 'products.reviews.post_on_by' date=date name=(sanitize name) }}}
                                </p>
                            {{else}}
                                <p class="productReview-author">
                                    {{lang 'products.reviews.post_on_by' date=date name=(lang 'products.reviews.anonymous_poster')}}
                                </p>
                            {{/if}}
                        </header>
                        <p class="productReview-body">{{{ sanitize text }}}</p>
                    </div>
                    {{/gt}}
                </article>
            </li>
            {{/each}}
        </ul>
        {{#if pagination.reviews.next}}
        <div class="productReviews-loadMore">
            <p class="productReviews-count" data-reviews-count data-total="{{product.num_reviews}}">Showing {{reviews.list.length}} of {{product.num_reviews}} reviews</p>
            <button type="button" class="button button--primary" data-reviews-load-more data-next-url="{{pagination.reviews.next}}">Load More Reviews</button>
        </div>
        {{/if}}
    </div>
</section>
