<article class="blog">
  <header class="blog-header">
      <h2 class="blog-title">
          <a href="{{post.url}}" data-maxlength="24">{{post.title}}</a>
      </h2>
      <div class="home-blogPost--author">
      <span class="icon">
          <svg>
              <use xlink:href="#icon-user"></use>
          </svg>
      </span>{{post.author}}
    </div>
    <div class="home-blogPost--date">
      <span class="icon">
          <svg>
              <use xlink:href="#icon-clock"></use>
          </svg>
      </span>{{post.date_published}}
      </div>
      <div class="clear"></div>
  </header>
    <div class="blog-post-figure">
        {{#if post.thumbnail}}
        <figure class="blog-thumbnail">
            <a href="{{post.url}}">
                {{> components/common/responsive-img
                    image=post.thumbnail
                    fallback_size=theme_settings.blog_size_post
                    lazyload=theme_settings.lazyload_mode
                }}
            </a>
        </figure>
        {{/if}}
    </div>

    <div class="blog-post-body">
        <div class="blog-post">
            {{#if post.body}}
                {{{post.body}}}
            {{else}}
                {{{post.summary}}}
                {{#if post.show_read_more}}
                    &hellip; <a class="read-more" href="{{url}}">read more</a>
                {{/if}}
            {{/if}}
        </div>


        <div class="blog-post-bottom">
            <p>Posted by {{post.author}}</p>
            {{#if show_tags}}
                {{#if post.tags}}
                <div class="tagsWrapper">
                    <p>Tags</p>
                    <ul class="tags">
                        {{#each post.tags}}
                        <li class="tag">
                            <a href="{{url}}">#{{name}}</a>
                        </li>
                        {{/each}}
                    </ul>
                    </div>
                {{/if}}
            {{/if}}

            {{>components/custom/common/share url=post.url}}
        </div>

    </div>
</article>
