<div class="navPages-wider desktop">
  {{#if theme_settings.show_logo_in_sticky_nav '===' true}}
  <li class="navPages-item sticky-object logo">
    {{> components/common/sticky-logo}}
  </li>
  {{/if}}
  <div class="nav-minus-logo">
    <div class="mega-cat-nav {{#if theme_settings.show_logo_in_sticky_nav '===' true}}sticky-logo{{/if}}">
      <li class="navPages-item navPages-item-page container-header btn">
        <a class="navPages-action">
          <svg class="mega-menu-icon open">
            <use xlink:href="#icon-v-menu" />
          </svg>
          <svg class="mega-menu-icon close">
            <use xlink:href="#icon-close" />
          </svg>
          <span class="burger-menu">{{theme_settings.mega_nav_name}}</span>
          <span class="burger-menu fixed">{{theme_settings.sticky_mega_nav_name}}</span>
        </a>
        <div class="clear"></div>
      </li>
      <nav class="navPages">
        <div class="mega-cat-dropdown">
          <div class="inner">
            <span class="mobileMenu-toggle mobileMenu-toggle-inner" data-mobile-menu-toggle="menu">
        <svg class="mega-menu-icon close">
            <use xlink:href="#icon-close" />
          </svg>
        </span>
            <div id="page-wrapper">
              <div class="category-list">
                {{{region name="main_menu_dropdown--global"}}}
              </div>
              <div class="pagination-container"><a class="navPages-action previous"><i class="icon prev"
                    aria-hidden="true"><svg>
                      <use xlink:href="#icon-chevron-left" />
                    </svg></i></a><span class="dots"></span><a class="navPages-action next"><i class="icon next"
                    aria-hidden="true"><svg>
                      <use xlink:href="#icon-chevron-left" />
                    </svg></i></a></div>
              <hr class="sidenav" />
            </div>
          </div>

          {{#if theme_settings.show_pages_in_mobile_nav '===' true}}
          <div class="sticky-navpages">
            <hr>
            
            {{#each pages}}
            <li class="navPages-item top-level{{#if is_active}} activePage{{/if}} pages mega-nav-pages">
              {{> components/common/mega-nav-page-list}}
            </li>
            {{/each}}
          </div>
          {{/if}}

          <!-- BRANDS VISIBILITY -->
          <div
            class="brands {{#if theme_settings.show_brands_in_main_mega_nav '===' false}}brands-hidden {{/if}}{{#if theme_settings.show_brands_in_sticky_nav '===' false}}sticky-brands-hidden{{/if}}">
            <h2 class="container-header mobile">Brands</h2>
            {{#each shop_by_brand}}
            <li class="navPages-item mobile">
              <a class="navPages-action" href="{{url}}">{{name}}</a>
            </li>
            {{/each}}
            <li class="navPages-item mobile view-all brands">
              <a class="navPages-action" href="/brands/">View all Brands</a>
            </li>
          </div>

          <div class="sticky-navpages">
            <hr>
            <li class="navPages-item top-level{{#if is_active}} activePage{{/if}} pages mega-nav-pages">
              <div class="nav-page-list mega-nav-page-list">
                <a class="navPages-action sideNavTopLevel" href="/content/Products/SLTInteractiveCatalogue.pdf">Product Catalog</a>
                <div class="clear"></div>
              </div>
            </li>
            <li class="navPages-item top-level{{#if is_active}} activePage{{/if}} pages mega-nav-pages">
              <div class="nav-page-list mega-nav-page-list">
                <a class="navPages-action sideNavTopLevel" href="/terms-and-conditions/">Terms & Conditions</a>
                <div class="clear"></div>
              </div>
            </li>
            <li class="navPages-item top-level{{#if is_active}} activePage{{/if}} pages mega-nav-pages">
              <div class="nav-page-list mega-nav-page-list">
                <a class="navPages-action sideNavTopLevel" href="/shipping-returns/">Shipping & Returns</a>
                <div class="clear"></div>
              </div>
            </li>
            <li class="navPages-item top-level{{#if is_active}} activePage{{/if}} pages mega-nav-pages">
              <div class="nav-page-list mega-nav-page-list">
                <a class="navPages-action sideNavTopLevel" href="https://www.safeandsoundrf.com/emf-inspections-north-america/">Book an EMF INSPECTION</a>
                <div class="clear"></div>
              </div>
            </li>
          </div>

          <div class="sticky-navpages">
            <hr>
            <li class="navPages-item top-level{{#if is_active}} activePage{{/if}} pages mega-nav-pages">
              <div class="nav-page-list mega-nav-page-list">
                <a class="navPages-action sideNavTopLevel" href="/account.php?action=address_book">My Account</a>
                <div class="clear"></div>
              </div>
            </li>
            <li class="navPages-item top-level{{#if is_active}} activePage{{/if}} pages mega-nav-pages">
              <div class="nav-page-list mega-nav-page-list">
                <a class="navPages-action sideNavTopLevel" href="/login.php">Login</a>
                <div class="clear"></div>
              </div>
            </li>
            <li class="navPages-item top-level{{#if is_active}} activePage{{/if}} pages mega-nav-pages">
              <div class="nav-page-list mega-nav-page-list">
                <a class="navPages-action sideNavTopLevel" href="https://safelivingtechnologies.com/content/Products/SLTInteractiveCatalogue.pdf">Product Catalog</a>
                <div class="clear"></div>
              </div>
            </li>
            <li class="navPages-item top-level pages mega-nav-pages">
              <div class="nav-page-list mega-nav-page-list">
                <div class="mega-nav-currencySelector">
                {{> components/common/currency-selector id_suffix="--mobileMenu"}}
                </div>
              </div>
            </li>
          </div>
          {{#if customer.store_credit.value '>' 0}}
          <ul class="nav-user-menu">
            <li class="navUser-item navUser-item--storecredit">
              <a class="navUser-action navUser-action--storeCredit" data-dropdown="storeCredit-dropdown"
                data-options="align:bottom" href="{{urls.cart}}">
                <span class="navUser-action-divider">{{lang 'common.store_credit_overview'
                  credit=customer.store_credit.formatted}}</span>
              </a>
              <div class="dropdown-menu" id="storeCredit-dropdown" data-dropdown-content aria-hidden="true">
                {{{lang 'common.store_credit' store_credit=customer.store_credit.formatted}}}
              </div>
              <div class="clear"></div>
            </li>
          </ul>
          {{/if}}
          <div class="clear"></div>

          <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="nav-right-fixed">
      <div class="nav-right">
        <ul
          class="navPages-list nav-page-list one {{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
          {{#unless theme_settings.hide_category_navigation}}
          {{#each categories}}
          <li class="navPages-item top-level categories">
            {{#if ../theme_settings.navigation_design '===' 'simple'}}
            {{> components/common/navigation-list}}
            {{/if}}
            {{#if ../theme_settings.navigation_design '===' 'alternate'}}
            {{> components/common/navigation-list-alternate}}
            {{/if}}
          </li>
          {{/each}}
          {{/unless}}
          {{#unless theme_settings.hide_content_navigation}}
          <ul class="navPages-list nav-page-list two">
            {{#each pages}}
            <li class="navPages-item">
              {{> components/custom/common/navigation-page-list}}
            </li>
            {{/each}}
            <li class="navPages-item">
              <div class="nav-page-list">
                <a class="navPages-action navPages-action-depth-max has-subMenu is-root topLevel circled-icon"
                  href="{{urls.account.index}}">
                  <i class="icon" aria-hidden="true"><svg>
                      <use xlink:href="#icon-account" />
                    </svg></i>
                  <i class="icon navPages-action-moreIcon fixed-dropdown mobile-only" aria-hidden="true"><svg>
                      <use xlink:href="#icon-chevron-down" />
                    </svg></i>
                </a>
                <div class="navPage-subMenu" id="navPages-{{id}}" aria-hidden="true" tabindex="-1">
                  <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-item">
                      {{#if customer}}
                      <a class="navPage-subMenu-action navPages-action" href="{{urls.account.index}}">Account</a>
                      {{else}}
                      <a class="navPage-subMenu-action navPages-action" href="{{urls.auth.login}}">Login</a>
                      {{/if}}
                    </li>
                    <li class="navPage-subMenu-item">
                      {{#if customer}}
                      <a class="navPage-subMenu-action navPages-action" href="{{urls.auth.logout}}">Logout</a>
                      {{else}}
                      <a class="navPage-subMenu-action navPages-action" href="{{urls.auth.create_account}}">Register</a>
                      {{/if}}
                    </li>
                  </ul>
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li class="navPages-item">
              <div class="nav-page-list">
                <a class="navPages-action circled-icon" href="{{urls.account.wishlists.all}}"><i class="icon"
                    aria-hidden="true"><svg>
                      <use xlink:href="#icon-wishlist" />
                    </svg></i></a>
                <div class="clear"></div>
              </div>
            </li>

            <li class="navPages-item navUser-item--cart">
              <a class="navUser-action navPages-action circled-icon" data-cart-preview data-dropdown="cart-preview-dropdown"
                href="{{urls.cart}}" aria-label="{{lang 'cart.nav_aria_label'}}">
                <span class="navUser-item-cartLabel"><svg class="header-icon cart-icon">
                    <use xlink:href="#icon-cart"></use>
                  </svg></span> <span class="countPill cart-quantity"></span>
              </a>
              <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
            </li>

            <li class="navPages-item currency">
              <div class="nav-page-list">
                {{> components/custom/common/currency-selector}}
                <div class="clear"></div>
              </div>
            </li>
          </ul>
          {{/unless}}
          <ul>

          </ul>
        </ul>
      </div>
      </nav>
    </div>
  </div>
</div>