<div class="review-badge">
    <a href="https://www.trustpilot.com/review/safelivingtechnologies.com" target="_blank" class="review-badge--link">
        <div class="review-badge--stars">
            <span class="icon">&#9733;</span>
            <span class="icon">&#9733;</span>
            <span class="icon">&#9733;</span>
            <span class="icon">&#9733;</span>
            <span class="icon">&#9733;</span>
        </div>
        <div class="review-badge--rating">
            <strong>{{theme_settings.trustpilot_rating}}</strong>
            <span>Excellent</span>
        </div>
        <p class="review-badge--total">
            {{theme_settings.trustpilot_total_reviews}}+ Verified Customer Reviews
        </p>
    </a>
</div>