<a class="featured-brand" href="{{link}}">
  <div class="featured-brand--content">
    <div class="featured-brand--logo">
      <img src="{{getImageManagerImage logo}}" class="featured-brand--logo--img">
    </div>
    <span class="featured-brand--link">
      <i class="icon" aria-hidden="true">
        <svg><use xlink:href="#icon-triangle-right" /></svg>
      </i>Buy Now</span>
  </div>
  <div class="featured-brand--bg">
    <img src="{{getImageManagerImage bgImage}}" class="featured-brand--bgImage">
  </div>
</a>